<div class="container">

    <div class="row mt-5">

        <h1 class="text-center">MORE DETAILS OF THIS USER</h1>
        <button class="btn btn-primary"><a routerLink="" class="text-white">Go Home</a></button>

    </div>

    <div class="row">

        <div class="column mt-5">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AGE</th>
                    <th scope="col">SALARY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{moreDetail.id}}</th>
                    <td>{{moreDetail.employee_name}}</td>
                    <td>{{moreDetail.employee_age}}</td>
                    <td>{{moreDetail.employee_salary}}</td>
                  </tr>
                </tbody>
              </table>
            
        </div>

    </div>

</div>